<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="import" href="auth.html">
    <link rel="import" href="workout.html">

    <title>Дневник тренировок - Домашняя страница</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="http://localhost:8080/api/v1/temp/home">Домашняя страница</a></li>
        <li><a href="http://localhost:8080/api/v1/temp/workouts">Добавить тренировку</a></li>
        <li><a href="http://localhost:8080/api/v1/temp/auth">Профиль</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Здесь можно добавить остальное содержимое страницы -->
  
  <footer>
    <!-- Здесь можно добавить содержимое подвала страницы -->
  </footer>
</body>
</html>
